.clients
  padding-top 286px
  padding-bottom 137px
  &__row
    margin-top 82px
  & .clients__label
    margin-bottom 17px
    color #222222
  &__text
    line-height: 28px
  &__item
    &:hover
      transition 0.4s ease
      transform scale(1.4)
    &:not(:hover)
      transition: 0.4s

@media (max-width 1199px)
  .clients
    padding-top 256px
    &__title
      font-size 38px
    &__text
      line-height: 25px

@media (max-width 991px)
  .clients
    padding-top 200px
    &__title
      font-size 34px
    &__text
      font-size 16px
      line-height: 22px

@media (max-width 767px)
  .clients
    padding-top 150px
    padding-bottom 100px
    &__title
      font-size 30px
      margin-bottom 30px
    &__row
      margin-top 40px
    &__item
      transform scale(0.8)

@media (max-width 575px)
  .clients
    padding-top 100px
    padding-bottom 50px
    &__row
      flex-direction column
    &__item
      margin-bottom 70px
      text-align center
    & .clients__label
      font-size 12px
    &__title
      font-size 28px
    &__text
      margin-bottom 30px