.footer
  height 240px
  background #515151
  &__logo
    margin-top 109px
    margin-bottom 109px
    &:hover
      transition 0.4s ease-out
      transform scale(1.4)
    &:not(:hover)
      transition: 0.4s