.hero
  &__nav
    padding-top 59px
    margin-bottom 127px
  &__offer
    height 65vh
  &__picture
    background url('../img/header/header__picture.jpg') no-repeat right top
    background-size 85% 100%
    width 55%
    height 72vh
    position absolute
    right 0
    top 142px
  &__video
    position absolute
    left 0
    bottom 20%
    width 55%
    height 37%
    display block
    background url('../img/header/header__video.jpg') no-repeat center center
    background-size cover
    display flex
    justify-content center
    align-items: center
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44)
    &::after
      z-index 1
      content ''
      display block
      background url('../img/header/header__icon-play.svg')
      width 65px
      height 65px

.nav
  &__logo
    cursor pointer
    padding-top 5px
    &:hover
      transition 0.4s ease-out
      transform scale(1.4)
    &:not(:hover)
      transition: 0.4s
  &__search
    width 100%
    position relative
    text-align: center
    &-ref
      cursor pointer
    & img
      margin-left 5%
      display inline-block
      transition: 0.4s
  &__input-search
    cursor pointer
    display inline-block
    width 1%
    opacity 0
    transition all 0.4s
    font-size 22px
  &__menu
    z-index 5
    position relative
    cursor pointer

.vh-dependent
  height 35vh
  display flex
  align-items center

.offer
  &__title
    font-size 60px
    letter-spacing -0.01em
    line-height 1.2em
  &__text
    width 90%
    margin 30px 0 56px
  &__btn
    width 189px

.menu-burger
  opacity 0
  position absolute
  background-color rgba(55, 55, 55, 0.9)
  width 0px
  height 0px
  top 40px
  right 0px
  display flex
  flex-direction column
  justify-content flex-start
  text-align center
  border-top-left-radius: 25%
  border-bottom-right-radius: 25%
  padding-top 20px
  transition 0.5s ease
  font-size 0px
  &__link
    display none
    padding-left 7%
    padding-right 7%
    color black
    justify-content center
    align-items: center
    height 80px
    position relative
    letter-spacing 0.25em
    font-weight 500
    transition 0.5s ease
    text-shadow 1px 1px 3px white
    &:after
      content ''
      opacity 0
      position absolute
      width 0
      height 1px
      bottom 0
      left 0%
      background-color #fff
      transition all 0.5s ease
  &--active
    .menu-burger__link
      display flex
      &:after
        width 5%
      &:hover
        color #fff
        text-shadow none
        &:after
          opacity 1
          width 65%

@media (max-width 1199px)
  .offer
    &__title
      font-size 52px

@media (max-width 991px)
  .offer
    &__title
      font-size 48px

@media (max-width 767px)
  .hero__offer
    height 60%//70vh
  .offer
    &__title
      font-size 42px
      text-align center
    &__text
      font-size 16px
      text-align justify
      margin-bottom 30px
      width 100%
  .hero
    &__nav
      margin-bottom 50px
    &__picture
      position relative
      width 80%
      height 200px
      top 0
      margin-top 40px
      margin-left 10%
    &__video
      width 45%
      height 50%
      &::after
        transform: scale(0.8)
  .vh-dependent
    height auto
    display flex
    align-items center
  .nav
    &__search
      margin-right -25px
      text-align right
      &-wrapper
        margin-top 30px
        order 1

@media (max-width 540px)
  .offer
    &__title
      font-size 32px
    &__text
      font-size 15px
  .hero
    &__nav
      padding-top 30px
    &__video
      &::after
        transform: scale(0.7)