.services
  padding-top 142px
  &__heading
    letter-spacing -1px

.services
  &__list
    color #8D8D8D
    margin-top 67px
    &-left
      margin-left 37px
  &__item
    margin-bottom 20px
  &__carousel
    margin-top 99px
  &__video
    cursor pointer
    position relative


@media (max-width 1199px)
  .services
    padding-top 110px
    &__heading
      font-size 38px
    &__carousel
      margin-top 70px
  .owl
    &-theme .owl-nav
      margin-top 40px

@media (max-width 991px)
  .services
    padding-top 90px
    &__heading
      font-size 34px
    &__carousel
      margin-top 40px
    &__item
      font-size 16px
    &__list
      &-left
        margin-left 0px
  .owl
    &-theme .owl-nav
      margin-top 30px
    &-carousel
      &__play
        transform scale(0.85)

@media (max-width 767px)
  .services
    &__heading
      font-size 30px
    &__list
      margin-top 40px
      &-left
        margin-left 50px
      &-right
        margin-right 50px
  .owl
    &-theme .owl-nav
      margin-top 20px
      & .owl-prev img, & .owl-next img
        width 45px
        height 45px
    &-carousel
      &__play
        transform scale(0.7)

@media (max-width 575px)
  .services
    padding-top 50px
    &__heading
      font-size 28px
    &__carousel
      margin-top 30px
    &__list
      margin-top 30px
      &-left
        margin-left 20px
      &-right
        margin-right 20px
  .serv-list_left
    margin-left 0
  .owl
    &-theme .owl-nav
      margin-top 10px
      & .owl-prev img, & .owl-next img
        width 40px
        height 40px