.testimonials
  padding-top 233px
  &__title
    letter-spacing: -1px
    padding-top 33px
  &__contributor
    margin-top 121px
    &__title
      margin-bottom 10px
    &_photo
      width 100%
  &__carousel .owl-nav
    margin-top -50px
    position relative
.contributor
  &__title
    font-size 22px
  &__post
    margin-top 13px

@media (max-width 1200px)
  .testimonials
    padding-top 180px
    &__title
      font-size 38px
    &__contributor
      margin-top 50px

@media (max-width 991px)
  .testimonials
    padding-top 100px
    &__title
      padding-top 0px
      font-size 28px
    &__carousel .owl-nav
      margin-top -50px
    &__contributor
      margin-top 40px
  .contributor
    &__title
      font-size 18px
    &__post
      font-size 16px
      margin-top 5px

@media (max-width 767px)
  .testimonials
    &__title
      font-size 30px
    &__carousel .owl-nav
      margin-top -45px

@media (max-width 575px)
  .testimonials
    padding-top 80px
    &__title
      font-size 28px
    &__carousel .owl-nav
      margin-top -40px