.works
  padding-top 263px
  &__title
    letter-spacing: -1px
  &__wrap
    flex-wrap wrap
    margin-top 108px
  &__tabs
    margin-left 60px
    font-size 14px
    text-transform uppercase
    letter-spacing 0.3em
    margin-top 70px
    &-item a
      font-weight 500
      text-decoration none
      color #8d8d8d
      position relative
      transition 0.4s
      &:after
        content ''
        position absolute
        width 100%
        height 0%
        bottom 0
        left 0%
        background-color rgba(54, 36, 240, 0.341)
        transition all 0.5s ease
      &:hover
        color #1434e1
    &-item .mixitup-control-active
      color #1434e1
  &__item
    margin-bottom 30px
    margin-right 1%
    margin-left 1%
    &:hover
      box-shadow -30px 80px 200px rgba(0, 0, 0, 0.25)
      transform translate(0px, -20px)
      transition transform 0.4s
      &:after
        content ''
        display block
        background url('../img/header/header__icon-play.svg')
        width 65px
        height 65px
        position absolute
        left 50%
        top 50%
        margin-left -32px
        margin-top -32px
  &__about
    margin-top 20px
  &__btn
    width 222px


@media (max-width: 1199px)
  .works
    padding-top 190px
    &__wrap
      margin-top 80px
    &__title
      font-size 38px
    &__tabs
      margin-left 0
      margin-top 40px
    &__item
      width 30%
      & img
        display block
        width 100%

@media (max-width 991px)
  .works
    padding-top 150px
    &__wrap
      margin-top 60px
    &__title
      font-size 34px
    &__item
      &:hover
        &:after
          transform: scale(0.8)
    &__text
      font-size 16px

@media (max-width 767px)
  .works
    padding-top 80px
    &__wrap
      margin-top 40px
    &__title
      font-size 30px
    &__item
      &:hover
        &:after
          transform: scale(0.7)
    &__tabs
      margin-top 20px
    &__about
      margin-top 0px

@media (max-width 575px)
  .works
    &__wrap
      justify-content center !important /* переопределить свойство bootsrtap для отображения по центру */
    &__title
      font-size 28px
      text-align: center
    &__item
      width 80%
      margin-bottom 40px
      &:hover
        &:after
          transform: scale(1)
    &__tabs
      flex-direction column
      align-items center
      &-item
        margin-bottom 25px