@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Medium.woff2") format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Bold.woff2") format('woff2');
}
